@import '../common';

.navbar {
  height: 6.5rem;
  background:url('images/background.jpg');
  padding: 1rem;

  .nav-links,
  .logo {
    display: inline-block;
    background:url('images/footer-logo.png');
  }

  .logo {
    color: $lightTextColor;
    margin-right: 50%;
  }

  .nav-links span {
    color: $lightTextColor;
    font-size: 1.6rem;
  }
}
